# Place in folder: "/etc/udev/rules.d/"
# And reload the rules: "sudo udevadm control --reload-rules && sudo udevadm trigger --action=change"
# Print info of connected USB devices by using the command: "udevadm info -a -p /sys/bus/usb/devices/1-1"   (or try with other endings: 1-1, 2-1, 3-1 etc.)
# Or by using: "udevadm info -a -p  $(udevadm info -q path -n /dev/ttyACM0)"
# See https://unix.stackexchange.com/questions/66901/how-to-bind-usb-device-under-a-static-name


#SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5544", ATTRS{manufacturer}=="STMicroelectronics", ATTR{serial}=="001337001234", MODE:="0666", SYMLINK+="jetsoncar"
#SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5544", MODE:="0666", GROUP:="dialout", SYMLINK+="jetsoncar"
#ACTION=="add", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5544", SYMLINK+="jetsoncar"

KERNEL=="ttyUSB[0-9]*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5544", MODE:="0666", GROUP:="dialout", SYMLINK+="jetsoncar"
KERNEL=="ttyACM[0-9]*", SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5544", MODE:="0666", GROUP:="dialout", SYMLINK+="jetsoncar"