<?xml version="1.0"?>
<launch>

	<param name="/use_sim_time" value="true"/>

	<!-- Launch Gazebo simulation environment with the JetsonCar -->
	<include file="$(find jetsoncar_gazebo)/launch/gazebo.launch">
		<arg name="gui" value="true"/> <!-- Choose to spawn the Gazebo GUI or run the simulation "headless -->
	</include>

	<!-- Launch simulated driver node -->
	<include file="$(find jetsoncar_gazebo)/launch/driver.launch">
		<!--
		<arg name="publish_rate" value="100" />
		<arg name="wheel_radius" value="0.0775" />
		<arg name="front_to_rear_wheel_distance" value="0.42" />
		<arg name="left_to_right_wheel_distance" value="0.285" />
		<arg name="min_steering" value="0.003" />
		<arg name="max_steering" value="0.8" />
		-->
	</include>

</launch>
